.wow {
  visibility: hidden;
}

/* TEMPLATE STYLES */
html,
body,
header,
.view {
    height: 100%;
    overflow: scroll;

}

/* Navigation*/
.full-bg-img {
    color: #fff;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}
.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}
footer.page-footer {
            background-color: #252728;
            margin-top: -1px;
        }

.view {
    background: url("/images/background-plane.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card{
  color: black;
}
.search{
  width: 50%;
  background-color: black;
  margin:0 auto;


}
.search .form-control{
  color: white;
  padding-left: 1rem;
}
.artistlist{
  position:absolute;
  top: 100%;
  z-index: 100;
  /*left:3%;*/
  width: 100%;
}

.card-img-bottom {

  padding-left: 30px;
  padding-top: 30px;
  background-size: cover;
  width: 300px;
  height:500px;

}

.search_content .card{
  margin-bottom: 25px;
  background-color:	#606060;
  color:white;
}

.search_content .card-block{
  margin-top: 50px;
}

.profile{
  margin-top: 2rem;
  color: white;
  margin-bottom: 3rem;
  width: 97%;
  margin-left: 1.5rem;
}

.profile img{
  width: 270px;
  height: 270px;
  margin-left: 3rem;
  margin-top: 3rem;

}

.Recentlyrated{
  margin: 2rem 1rem;
  margin-left: 10rem;
  width: 78%;
  text-align: center;
  padding-left: 10rem;
}

.profileDiscuss{
  margin-bottom: 3rem;
}

.rating{
  padding-top: 1.5rem;
}
.rating .c100{
  margin-top: 1rem;
  margin-left: 25rem;
}
.genres{
  margin-top: 4rem;
  padding-left: 2rem;
}

.cast{
  margin: 2rem 1rem;
  padding-left:10rem;
}


.fav_nofav{
  margin:10rem 10rem;
}

/*pagination*/
.my-4{
  margin: 0 auto;
}

.MoreCast .btn{

  margin-bottom: 1rem;
  margin-left: 1rem;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  column-count: 4;
}
