<navigation></navigation><br><br><br>
<search></search>

<div class="hm-black-light view-main col-md-12">
 
 <section class="section" style="margin-bottom: 0px; margin-top: 50px">
	

	<div class ="animated fadeInLeft">
	   <h5> {{vm.movie.title}} </h5>           
       <img ng-src="https://image.tmdb.org/t/p/w500{{vm.movie.poster_path}}" class="img-fluid float-left" alt="" height="200" width="200" style="margin-right:10px; margin-bottom: 10px">

    </div>

    <div class="">
    <div class="use_tooltip tooltip" title="Mark as Favorite">
      <a id="favourite" class="no_click add_to_account_list favourite false" href="#"><span class="glyphicons glyphicons-heart x1"></span></a>
    </div>
    	OVERVIEW 
     	<br/>
     	{{vm.movie.overview}}
     	<br/>
     	RATINGS  {{vm.movie.vote_average}} / 10
     	<br/>
     	GENRES
    </div>
    	 
    <div ng-repeat='genre in vm.movie.genre' class="">
    	{{genre}}
    </div>

	<div class="card container" style="margin: 20px 10px">
		    <ul class="nav nav-pills card-header-pills">
				  <li class="nav-item nav-link col-md-10">
				        Cast
				  </li>
		    </ul>
		</div>
    <div class="card-deck container" style="margin-bottom: 20px">
        
	  <div class="card" ng-repeat='cast in vm.movie.cast| limitTo:5'>
	    <img class="card-img-top" data-sizes="auto" src="https://image.tmdb.org/t/p/w500{{cast.profile_path}}" alt="Card image cap" width="2048" height="2048" style="image-rendering: crisp-edges;"">
	     <!--<img class="profile lazyload fade card-img-top" data-sizes="auto" src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/{{cast.profile_path}}" data-srcset="https://image.tmdb.org/t/p/w138_and_h175_bestv2/{{cast.profile_path}} 1x, https://image.tmdb.org/t/p/w276_and_h350_bestv2/{{cast.profile_path}} 2x" alt="{{cast.name}}">-->
	    <div class="card-block">
	      <p class="card-text">{{cast.name}}</p>
	    </div>
	  </div>
	</div>


    <div class="discussionContainer" >
    	<div class="card container" style="background-color: black;">
		  <div class="card-header">
		    <ul class="nav nav-pills card-header-pills">
		      <li class="nav-item nav-link col-md-4">
		        User
		      </li>
		      <li class="nav-item nav-link col-md-4">
		        Review
		      </li>
		      <li class="nav-item nav-link col-md-4">
		        Ratings
		      </li>
		    </ul>
		  </div>
		  <div class="card card-inverse" style="background-color: #333; border-color: black; border-width: 1px; border-style: solid" ng-repeat='review in vm.movie.reviews'>
			  <div class="card-block" >
			    <p class="card-text">
			     <ul class="nav nav-pills">
			     	<li class="col-md-4" style="color:white">{{review.user_id}}</li>
			     	<li class="col-md-4" style="color:white">{{review.review}}</li>
			     	<li class="col-md-4" style="color:white">{{review.rating}}</li>
			     </ul>
			    </p>
			  </div>
		  </div>
		</div>
    </div>
    <button ng-click="show = 1" style="margin: 10px 20px" class="text-center col-md-2">Write a Review</button>

    <form ng-show="show==1" style="margin:20px 20px; border:1px solid #333;">
	    <div class="form-group row" >
	    	 <label for="review-text-input" class="col-2 col-form-label text-center" style="font-size: medium; margin-top: 15px;">Review</label>
 			 <div class="col-9" style="border:1px solid #333;margin-top: 10px">
   			 	<input class="form-control" type="textbox" id="review-text-input" placeholder="Write your review here">
  			 </div>   
	    </div>
	    <div class="form-group row">
		  <label for="example-number-input" class="col-2 col-form-label text-center" style="font-size: medium;">Ratings</label>
		  <div class="col-9"  style="border:1px solid #333;">
		    <input class="form-control" type="number" id="example-number-input" placeholder="Give your ratings from 10" min=0 max=10>
		  </div>
		</div>
		<button type="submit" class="text-center" style="margin: 10px 20px;" >Submit</button>
	</form>
 </section>
</div>

<footer style="height: 5%; background-color: black;">

</footer>