<navigation></navigation><br><br><br>
<search></search>
<div class="hm-black-light view-main col-md-12">

 <section class="section" style="margin-bottom: 0px; margin-top: 50px">


	<div class ="animated fadeInLeft">
	   <h5> {{vm.movie.title}} </h5>
       <img ng-src="https://image.tmdb.org/t/p/w500{{vm.movie.poster_path}}" class="img-fluid float-left" alt="" height="200" width="200" style="margin-right:10px; margin-bottom: 10px">

    </div>
    <div class="text-center">
    	<p style="color: red; text-align: center;">{{vm.favorite.message}}</p>
    	<div style="display: inline-block;">
    	<form ng-submit="vm.onFavorite()">    	    
	        <button type="submit" class="btn btn-danger btn-sm">
	          <span class="glyphicon glyphicon-heart" style="color:white"></span> Add to favorites 
	        </button>
	        <button type="button" ng-show="vm.isAdmin" class="btn btn-danger" data-toggle="modal" data-target="#modalEditForm" ng-click="vm.onUpdateMsg = ''">Edit movie</button>
	    	<button type="button" ng-show="vm.isAdmin && vm.movie.active" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteForm">Delete movie</button>
            <button type="button" ng-show="vm.isAdmin && !vm.movie.active" class="btn btn-danger" data-toggle="modal" data-target="#modalShowForm">Show movie</button>
	    </form>
	    
	    </div>
        <br/>
    	OVERVIEW 
	     	<br/>
	     	{{vm.movie.overview}}
	     	<br/>
	     	RATINGS - {{vm.movie.vote_average}} / 10
	     	<br/>
	     	GENRES
	     	<br/>
	     	<span ng-repeat='genre in vm.movie.genre'>
	    		{{$first ? '' : $last ? ' and ' : ', '}}{{genre}}
	   		</span>

		<div class="card container" style="margin: 20px 10px">
			    <ul class="nav nav-pills card-header-pills">
					  <li class="nav-item nav-link col-md-10">
					        Cast
					  </li>
			    </ul>
			</div>
	    <div class="card-deck container" style="margin-bottom: 20px">

		  <div class="card" ng-repeat='cast in vm.movie.cast| limitTo:5'>
		    <img class="card-img-top" data-sizes="auto" ng-src="https://image.tmdb.org/t/p/w500{{cast.profile_path}}" onerror="this.src='images/profile_photo.png'" alt="Card image cap" style="image-rendering: crisp-edges; width="2048"; height="2048";">
		    <div class="card-block">
	        <h4 class="card-title">{{cast.character}}</h4>
		      <p class="card-text">{{cast.name}}</p>
		    </div>
		  </div>
		</div>


	    <div class="discussionContainer" >
	    	<div class="card container" style="background-color: black;">
			  <div class="card-header">
			    <ul class="nav nav-pills card-header-pills">
			      <li class="nav-item nav-link col-md-4">
			        User
			      </li>
			      <li class="nav-item nav-link col-md-4">
			        Review
			      </li>
			      <li class="nav-item nav-link col-md-4">
			        Ratings
			      </li>
			    </ul>
			  </div>
			  <div ng-hide="vm.movie.reviews.length==0">
				  <div class="card card-inverse" style="background-color: #333; border-color: black; border-width: 1px; border-style: solid" ng-repeat='review in vm.movie.reviews'>
					  <div class="card-block">
					    <p class="card-text">
					     <ul class="nav nav-pills">
					     	<li class="col-md-4" style="color:white">{{review.user_id}}</li>
					     	<li class="col-md-4" style="color:white">{{review.review}}</li>
					     	<li class="col-md-4" style="color:white">{{review.rating}}</li>
					     </ul>
					    </p>
					  </div>
				  </div>
			  </div>
			  <div ng-show="vm.movie.reviews.length==0">
				   <div class="card card-inverse" style="background-color: #333; border-color: black; border-width: 1px; border-style: solid">
					  <div class="card-block">
						  	 <p class="card-text text-center"  style="color:white"> There are no reviews to be displayed</p>
					  </div>
				  </div>
			  </div>
			</div>
	    </div>
	    <button ng-click="show = 1" style="margin: 10px 20px" class="btn btn-danger col-md-3">Write a Review</button>

	    <form ng-show="show==1" ng-submit="vm.onSubmit()" style="margin:20px 20px; border:1px solid #333;">
	    	<!--<div class="form-group row">
			    <input type="hidden" name="email" value="{{vm.user.email}}"  ng-model="vm.review.email">	  
			</div>
			<div class="form-group row">
			    <input type="hidden" name="name" ng-value="vm.user.name" ng-model="vm.review.name">		  
			</div>
			<div class="form-group row">
			    <input type="hidden" name ="id" ng-init="vm.movie.id" ng-model="vm.review.id">	  
			</div>-->
		    <div class="form-group row" >
		    	 <label for="review" class="col-2 col-form-label text-center" style="font-size: medium; margin-top: 15px;">Review</label>
	 			 <div class="col-9" style="border:1px solid #333;margin-top: 10px">
	   			 	<input class="form-control" type="textbox" id="review" placeholder="Write your review here" ng-model="vm.review.review">
	  			 </div>
		    </div>
		    <div class="form-group row">
			  <label for="rating" class="col-2 col-form-label text-center" style="font-size: medium;">Ratings</label>
			  <div class="col-9"  style="border:1px solid #333;">
			    <input class="form-control" type="number" id="rating" placeholder="Give your ratings from 10" min=0 max=10 ng-model="vm.review.rating">
			  </div>			
            <button class="btn btn-danger" type="submit" style="margin: 10px 40px;">Submit</button>
           
			<!--<a class="btn btn-danger" style="margin: 10px 40px;" href="/movies/{{vm.movie.id}}/review">Submit</a>-->
		</form>
	 </section>
</div>

<!-- EDIT MOVIE -->

<div class="modal animated fadeIn" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> Edit Movie Details</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <form ng-submit="vm.updateMovie()">
                <div class="modal-body mb-0" style=" color: black;">
                		<i class="fa fa-envelope prefix"></i>
                    	<label for="form19">Title</label>
                        <input type="text" id="form19" class="form-control" ng-model="vm.movie.title">
                        

                        <i class="fa fa-lock prefix"></i>
                        <label for="form20">Description</label>
                        <input type="text" id="form20" class="form-control" ng-model="vm.movie.overview">

                    <!-- <div class="md-form form-sm">
                        <i class="fa fa-key prefix"></i>
                        <input type="date" id="form21" class="form-control" ng-model="vm.user.password">
                        <label for="form21">Release Date</label>
                    </div> -->
                    <i class="fa fa-pencil prefix"></i>
                    <label>Genres</label>
                    <ul style="display: block;" ng-repeat="genre in vm.newgenres">
                    	<li><input type="checkbox" name="selectedGenres[]" value="{{genre.id}}" ng-checked="vm.selection.indexOf(genre.id) > -1" ng-click="vm.toggleSelection(genre.id)"> {{genre.name}}</li>
                    </ul>

                    <i class="fa fa-pencil prefix"></i>
                    <label for="form8">Poster</label>
                    <!-- <input type="file" id="form8" class="form-control" file-model="vm.file" accept="image/*"> -->
                    <input type="text" id="form8" class="form-control" ng-model="vm.movie.image">

                    <i class="fa fa-calendar"></i>
                    <label for="form21">Release Date</label>
                    <input type="date" id="form21" class="form-control" ng-model="vm.newdate">


                    <span>{{vm.onUpdateMsg}}</span>
                    <div class="text-center mt-1-half">

                        <button class="btn btn-info mb-2" type="submit">Update <i class="fa fa-pencil-square-o ml-1"></i></button>&nbsp;
                        <button class="btn btn-info mb-2" ng-click="vm.clearMessage()" data-dismiss="modal">Done</button>
                    </div>

                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
</div>

<!-- DELETE MOVIE -->
<div class="modal animated fadeIn" id="modalDeleteForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> Delete Movie</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <form ng-submit="vm.deleteMovie()">
                <div class="modal-body mb-0" style=" color: black;">
                    <p style="text-align: center;">Are you sure you want to delete the movie</p>
                    <span>{{vm.onUpdateMsg}}</span>
                    <div class="text-center mt-1-half">

                        <button class="btn btn-danger mb-2" type="submit">Yes</i></button>&nbsp;
                        <button class="btn btn-info mb-2" ng-click="vm.clearMessage()" data-dismiss="modal">Done</button>
                    </div>

                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
</div>

<div class="modal animated fadeIn" id="modalShowForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> Delete Movie</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <form ng-submit="vm.showMovie()">
                <div class="modal-body mb-0" style=" color: black;">
                    <p style="text-align: center;">Are you sure you want to show the movie</p>
                    <span>{{vm.onUpdateMsg}}</span>
                    <div class="text-center mt-1-half">

                        <button class="btn btn-danger mb-2" type="submit">Yes</i></button>&nbsp;
                        <button class="btn btn-info mb-2" ng-click="vm.clearMessage()" data-dismiss="modal">Done</button>
                    </div>

                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
</div>
<footer style="height: 5%; background-color: black;">

</footer>
